//* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /*header start*/
    header{
    padding:0 0;
}
.logo{
    width: 170px;
}

.menu ul li a{
    margin-bottom: 10px;
    padding: 0 10px !important;
}
/*banner start*/
.banner{
    padding-bottom:60px ;
}
.b_text{
    text-align: center;
}
.b_h1{
    padding: 0;
    font-size: 30px;
    line-height: 40px;
}
.b_p2{
    padding: 0;
    line-height: 30px;
}
.btn_link{
    margin: 15px auto 0;
}
.p_img{
    margin-bottom: 18px ;
    padding: 0;
}

}


//* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
header{
    padding:5px 0;
}
.menu ul li a{
    margin-bottom: 15px;
    padding: 0 10px !important;
}
/*banner start*/
.b_text{
    text-align: center;
}
.b_h1{
    padding: 0 40px 0;
    font-size: 35px;
    line-height: 50px;
}
.b_p2{
    padding: 0 30px 0;
    line-height: 30px;
}
.btn_link{
    margin:15px auto 0;
}
.b_img{
    margin-bottom: 30px ;
    padding: 0 40px;
}

}


//* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*header start*/
.menu ul li a{
    margin-bottom: 15px;
    padding: 0 10px !important;
}
/*banner start*/
.b_text{
    text-align: center;
}
.b_h1{
    padding: 0 90px 0;
}
.b_p2{
    padding: 0 70px 0;
}
.btn_link{
    margin:15px auto 0;
}
.b_img{
    margin-bottom: 30px ;
    padding: 0 100px;
}


}

//* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

//* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399px){

}


//* Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) { 
   /*banner start*/
      .b_h1{
    padding-right: 105px;
   }
   .b_p2{
    padding-right: 90px;
   }

}